@import '../mixins/input-preset.scss';
@import '../../common.mixins/anim_interaction-effect.scss';
@import '../../common.mixins/anim_label-effect.scss';

.#{$textinput004} {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.#{$textinput004}__label {
    border-radius: 4px;
    background: #ffffff;
    font-weight: 400;
    color: #616161;
    transform: translateX(-50%);
}

.#{$textinput004}__input {
    @include input-preset(50px, 0, 1px, #efefef, #616161, box-shadow 0.2s ease-in-out);
    @include interaction-effect(true, true,
        (box-shadow: 0 0 5px 0 rgba(#fc5f45, 1)),
        (box-shadow: 0 0 5px 0 rgba(#fc5f45, 1)),
        (box-shadow: 0 0 3px 0 rgba(#38c695, 1))
    );
    @include label-effect(50px, center, 1px, 26px, 16px, transform 0.2s ease-in){
        transform: translate(-50%, -115%);
        text-decoration: underline;
    };
    width: 360px;
    border-radius: 4.0px;
    background:  #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}