// Навигационные меню:
$nav003: 'main-nav';

// Формы:
$form003: 'subscribe-form';
$form004: 'message-form';

// Поля ввода текста:
$textinput003: 'subscribe-textinput';
$textinput004: 'message-textinput';

// Поля ввода сообщений:
$textarea004: 'message-textarea';

// Кнопки:
$button003: 'alexis-button';

// Чекбоксы:

// Список карт:
$cardlist003: 'ourfocus-cardlist';
$cardlist004: 'portfolio-cardlist';
$cardlist005: 'team-cardlist';
$cardlist006: 'stats-cardlist';
$cardlist007: 'wsteps-cardlist';
$cardlist008: 'pricing-cardlist';
$cardlist009: 'chooseus-cardlist';
$cardlist010: 'ourblog-cardlist';

// Карты:
$card003: 'ourfocus-card';
$card004: 'portfolio-card';
$card005: 'team-card';
$card006: 'stats-card';
$card007: 'wsteps-card';
$card008: 'pricing-card';
$card009: 'chooseus-card';
$card010: 'ourblog-card';

// Секции:
$aboutus003: 'aboutus';
$ourfocus003: 'ourfocus';
$ourfocus-video003: 'ourfocus-video';
$portfolio003: 'portfolio';
$ourteam003: 'ourteam';
$stats003: 'stats';
$worksteps003: 'worksteps';
$pricing003: 'pricing';
$testimonials003: 'testimonials';
$chooseus003: 'chooseus';
$ourblog003: 'ourblog';
$footer003: 'footer';

$feedbackpanel003: 'feedbackpanel';
