//- Навигационные меню:
- var nav003 = 'main-nav';

//- Формы:
- var form003 = 'subscribe-form';
- var form004 = 'message-form';

//- Поля ввода текста:
- var textinput003 = 'subscribe-textinput';
- var textinput004 = 'message-textinput';

//- Поля ввода сообщений:
- var textarea004 = 'message-textarea';

//- Кнопки:
- var button003 = 'alexis-button';

//- Чекбоксы:

//- Список карт:
- var cardlist003 = 'ourfocus-cardlist';
- var cardlist004 = 'portfolio-cardlist';
- var cardlist005 = 'team-cardlist';
- var cardlist006 = 'stats-cardlist';
- var cardlist007 = 'wsteps-cardlist';
- var cardlist008 = 'pricing-cardlist';

//- Карты:
- var card003 = 'ourfocus-card';
- var card004 = 'portfolio-card';
- var card005 = 'team-card';
- var card006 = 'stats-card';
- var card007 = 'wsteps-card';
- var card008 = 'pricing-card';

//- Разные секции:
- var aboutus003 = 'aboutus';
- var ourfocus003 = 'ourfocus';
- var ourfocus_video003 = 'ourfocus-video';
- var portfolio003 = 'portfolio';
- var ourteam003 = 'ourteam';
- var stats003 = 'stats';
- var worksteps003 = 'worksteps';
- var pricing003 = 'pricing';