//- Навигационные меню:
- var nav003 = 'main-nav';

//- Формы:
- var form003 = 'subscribe-form';
- var form004 = 'message-form';

//- Поля ввода текста:
- var textinput003 = 'subscribe-textinput';
- var textinput004 = 'message-textinput';

//- Поля ввода сообщений:
- var textarea004 = 'message-textarea';

//- Кнопки:
- var button003 = 'alexis-button';

//- Чекбоксы:

//- Список карт:
- var cardlist003 = 'ourfocus-cardlist';
- var cardlist004 = 'portfolio-cardlist';
- var cardlist005 = 'team-cardlist';
- var cardlist006 = 'stats-cardlist';
- var cardlist007 = 'wsteps-cardlist';
- var cardlist008 = 'pricing-cardlist';
- var cardlist009 = 'chooseus-cardlist';
- var cardlist010 = 'ourblog-cardlist';

//- Карты:
- var card003 = 'ourfocus-card';
- var card004 = 'portfolio-card';
- var card005 = 'team-card';
- var card006 = 'stats-card';
- var card007 = 'wsteps-card';
- var card008 = 'pricing-card';
- var card009 = 'chooseus-card';
- var card010 = 'ourblog-card';

//- Секции:
- var aboutus003 = 'aboutus';
- var ourfocus003 = 'ourfocus';
- var ourfocus_video003 = 'ourfocus-video';
- var portfolio003 = 'portfolio';
- var ourteam003 = 'ourteam';
- var stats003 = 'stats';
- var worksteps003 = 'worksteps';
- var pricing003 = 'pricing';
- var testimonials003 = 'testimonials';
- var chooseus003 = 'chooseus';
- var ourblog003 = 'ourblog';
- var footer003 = 'footer';

- var feedbackpanel003 = 'feedbackpanel';