.#{$cardlist003} {
    @extend %four-card-list;
}

.#{$cardlist003}__item {
    @extend %four-card-item;
    &:nth-child(4n + 1) {
        border-bottom: 3px solid #fc5f45;
    }
    &:nth-child(4n + 2) {
        border-bottom: 3px solid #38c695;
    }
    &:nth-child(4n + 3) {
        border-bottom: 3px solid #b27cf5;
    }
    &:nth-child(4n + 4) {
        border-bottom: 3px solid #feb960;
    }
}

@import '../../cards/.card003/card003.scss';
