.#{$portfolio003} {
    padding: 136px 0 150px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.#{$portfolio003}__title {
    @extend %section-title003;
    @extend %section-title003_color;
    &::before {
        content: '03';
    }
}

.#{$portfolio003}__text {
    @extend %section-text003;
    @extend %section-text003_color;
}

.#{$portfolio003}__#{$cardlist004} {
    margin: 0 auto;
}

@import '../../cardlists/.cardlist004/cardlist004.scss';
