mixin card007(classname, title, text)
    div(class!=`${classname}__bg`)
        div(class!=`${classname}__face`)
            div(class!=`${classname}__title`)= title
            div(class!=`${classname}__text`)= text