@import '../../other/extends/section-title003.scss';
@import '../../other/extends/section-text003.scss';

.#{$pricing003} {
    padding: 136px 0 150px;
    background: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    .#{$pricing003}__#{$cardlist008} {
        margin: 0 auto;
    }
}

.#{$pricing003}__title {
    @extend %section-title003;
    &::before {
        content: '06';
    }
}

.#{$pricing003}__text {
    @extend %section-text003;
}


@import '../../cardlists/.cardlist008/cardlist008.scss';