.main-header {
    display: grid;
    justify-items: center;
    // min-height: 850px;
    padding: 235px 0 170px;
    background-color: rgba(38,39,50,0.85);
}

.main-header__title {
    margin: 0 auto;
    display: block;
    padding-bottom: 45px;
    max-width: 820px;
    font-family: LibreBaskerville;
    font-size: 70px;
    line-height: 85px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

@import '../../other/advantage003.scss';