mixin card005(classname, name, funct)
    div(class!=`${classname}__img-wrap`)
    div(class!=`${classname}__specialist`)
        div(class!=`${classname}__name`)= name
        div(class!=`${classname}__function`)= funct