@import '../../other/extends/section-title003.scss';
@import '../../other/extends/section-text003.scss';

.#{$worksteps003} {
    display: grid;
    justify-content: center;
    padding: 136px 0 150px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.#{$worksteps003}__title {
    @extend %section-title003;
    &::before {
        content: '05';
    }
}

.#{$worksteps003}__text {
    @extend %section-text003;
}

@import '../../cardlists/.cardlist007/cardlist007.scss';