.#{$worksteps003} {
    padding: 136px 0 150px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    .#{$worksteps003}__#{$cardlist007} {
        margin: 0 auto;
    }
}

.#{$worksteps003}__title {
    @extend %section-title003;
    @extend %section-title003_color;
    &::before {
        content: '05';
    }
}

.#{$worksteps003}__text {
    @extend %section-text003;
    @extend %section-text003_color;
}


@import '../../cardlists/.cardlist007/cardlist007.scss';