section(id=`${testimonials003}`, class!=`${testimonials003}`)
    h3(class!=`${testimonials003}__title`) Testimonials.
    p(class!=`${testimonials003}__text`) We understand your requirement and provide quality works.
    //- Feedback panel
    include ../../feedbackpanels/.feedbackpanel003/feedbackpanel003.pug